$primary-color: #203959;
$secondary-color: #125f9e;
$tercer-color: #1f2c66;
$light-color: #f7f9fc;
$font-color: #4d4d4d;
$font-base: 'Montserrat', sans-serif;
$font-alt: Georgia, 'Times New Roman', Times, serif;


